:root {
  --clr-primary: #28b3fb;
  --clr-primary-dark: #2398d3;
  --clr-accent: #eaa2fd;
  --clr-accent_underline: #e488fd;
  --clr-accent-dark: #4f2d58;
  --clr-text: #3b3b3b;
  --clr-orange: #c7850b;

  --ff-title: 'BFNarrow', sans-serif;
  --ff-serif: 'Crimson Text', serif;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
  --ff-raleway-normal: 'Raleway', sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

::before ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1.25rem;
}

body {
  margin: 0;
  text-align: center;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

section {
  padding: 5em 1em;
}
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/*                reset              */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* Typography */
.text-primary {
  color: var(--clr-primary);
  margin-bottom: 0.25em;
  padding-bottom: 1em;
}
.text-purple {
  color: var(--clr-accent-dark);
  margin-bottom: 0.25em;
  padding-bottom: 1em;
}

.text-span-1 {
  color: var(--clr-accent);
  margin-bottom: 0.25em;
  padding-bottom: 1em;
}

.text-white {
  color: white;
  margin-bottom: 0.25em;
  padding-bottom: 1em;
}

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}
.ff-raleway-normal {
  font-family: 'Raleway', sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h3 {
  line-height: 0.8;
}

h2 {
  line-height: 0.8;
}

p {
  margin-bottom: 0.85;
}

p:last :last-child {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0.85;
}

p:last :last-child {
  margin-bottom: 0;
}

.section-title-small small {
  font-size: 0.7em;
  display: block;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/*                reset              */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* header and NAV  */
.primary-header {
  justify-content: center;
  align-items: center;
  display: block;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--clr-primary-dark);
  color: white;
  margin-top: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1.5rem;
  /* Needed to position the navbar */

  backdrop-filter: blur(2rem);
}

.primary-navigation a {
  text-decoration: none;
  font-size: smaller;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(/assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(/assets/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    margin-right: -2.5rem;
    background: var(--clr-accent-dark);
    order: 1;
  }

  nav {
    order: 2;
  }
}

.underline-indicators > * {
  cursor: pointer;
  padding: 1em 0em 1em;
  border: 0;
  border-bottom: 0.2rem solid var(--clr-accent);
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: var(--clr-accent_underline);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected='true'] {
  color: white;
  border-color: white;
}

.tab-list {
  --gap: 2rem;
}

/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/*                reset              */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* Buttons */
.btn-group {
  margin-top: 1em;
  flex-direction: row;
}

.btn {
  padding: 0.75em 2.5em;
  color: white;
  text-decoration: none;
  flex-direction: row;
  display: block;
  margin: 0.5em 0;
  border-radius: 1rem;
  justify-content: center;
}

.btn-primary {
  background: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--clr-primary-dark);
}

.btn-primary-dark {
  background: var(--clr-primary-dark);
}

.btn-primary-dark,
.btn-primary-dark {
  background: var(--clr-primary-dark);
}
/* Homepage styles */

.hero {
  background-color: rgb(56, 55, 55);
  background-image: url(/img/logo_phone.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 3rem 1em 1em;
}

.what_do {
  background-color: var(--clr-accent-dark);
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  padding: 0;
}
.intro {
  color: white;
  text-align: center;
  padding: 15vh 0;
}
.about-us {
  background-color: var(--clr-accent);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}

.about-us_intro {
  background-color: rgb(56, 55, 55);
  background-image: url(/img/logo_phone.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
  padding: 3rem 1em 1em;
}
.about-us_body {
  background-color: rgb(56, 55, 55);
  background-image: url(/img/logo_phone.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
  padding: 1em 1em 3em;
}

section {
  padding: 6em 1em;
  background-color: rgb(255, 255, 255);
}
.services {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}
.services-showcase {
  background-color: rgb(155, 154, 154);
  background-image: url(/img/Caring_phone.webp);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: contain;
  padding: 6em 1em;
  background-color: rgb(255, 255, 255);
}
.service {
  background-color: rgb(56, 55, 55);
  background-image: url(/img/Caring_phone.webp);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 1em;
  border: 1px solid rgb(209, 209, 209);
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 0.25em;
  flex-basis: 100%;
}

.service_content {
  padding: 1.5em;
  justify-content: center;
}

.service_title {
  color: var(--clr-primary-dark);
  margin-bottom: 0.5em;
  padding-bottom: 0 1em 0;
  margin-top: 0.5em;
}

.contact_title {
  color: white;
  padding-top: 2.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0 1em 0;
}

.service:last-of-type {
  margin-bottom: 2em;
}

.sponsor {
  background-color: rgb(56, 55, 55);
  background-image: url(/img/digital-white-background.png);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: contain;
  color: white;
  text-align: center;
  margin-top: 0em;
  padding: 15vh 0 2;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn-news {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn-news:hover {
  background-color: #ddd;
}

.btn-news.active {
  background-color: #666;
  color: white;
}
.Contact-online {
  background-color: var(--clr-orange);
  color: white;
  padding-bottom: 1em;
  padding-top: 0;
}

.Contact-online > * {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/*                reset              */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
footer {
  background: var(--clr-text);
  padding: 3em 1em;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
footer a {
  color: inherit;
}
.footer-nav {
  list-style: none;
  flex-direction: column;
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav a {
  padding: 0.2em;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-social {
  list-style: none;
  flex-direction: column;
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1em;
}

.fa {
  padding: 1em;
  font-size: 1em;
  width: 1em;

  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 1em;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #464747;
  color: white;
  padding-bottom: 1em;
}

.fa-instagram {
  background: #464747;
  color: white;
}
.fa-twitter {
  background: #464747;
  color: white;
}

.social-link {
  display: inline-block;
  margin-bottom: 5px;
}
.social-icon {
  max-width: 50px;
}
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/*                reset              */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* medium devices (tablets */
@media (min-width: 768px) {
  section {
    padding: 6em 1em;
    background-color: rgb(255, 254, 254);
  }
  .primary-navigation {
    background-color: rgb(155, 154, 154);
    background-image: url(/img/logo.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
  }
  .primary-navigation a {
    text-decoration: none;
    font-size: medium;
  }
  .hero {
    background-color: rgb(155, 154, 154);
    background-image: url(/img/logo.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin-top: 0em;
    padding: 15vh 1em;
  }
  .about-us_intro {
    background-color: rgb(56, 55, 55);
    background-image: url(/img/logo.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    padding: 3rem 1em 1em;
  }
  .about-us {
    flex-direction: row;
  }
  .about-us_body {
    padding: 1em 1em 3em;
    background-color: rgb(56, 55, 55);
    background-image: url(/img/logo.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    padding: 3rem 1em 1em;
  }
  .what_do {
    background-color: rgb(212, 212, 212);
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 0em;
    padding: 15vh 0 2;
  }

  .text {
    color: var(--clr-text);
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .sponsor {
    background-color: rgb(56, 55, 55);
    background-image: url(/img/digital-white-background.png);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: contain;
    color: white;
    text-align: center;
    margin-top: 0em;
    padding: 15vh 0 2;
  }

  .about-us_intro,
  .about-us_body {
    flex: 0 1 50%;
    display: flex;
    flex-direction: row;
    padding: 4em 2em;
    justify-content: center;
  }
  .about-us_intro {
    text-align: right;
  }

  .about-us_intro > * {
    max-width: 27rem;
    margin-left: auto;
  }

  .about-us_body {
    text-align: left;
  }

  .about-us_body > * {
    max-width: 27rem;
    margin-right: auto;
  }
  .Contact-online > * {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  /* Style the buttons */
  .btn-news {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }

  .btn-news:hover {
    background-color: #ddd;
  }
  .services-showcase {
    background-color: rgb(155, 154, 154);
    background-image: url(/img/Caring_phone.webp);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    padding: 6em 1em;
    background-color: rgb(255, 255, 255);
  }
  .service {
    background-color: rgb(56, 55, 55);
    background-image: url(/img/Caring_phone.webp);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 1em;
    border: 1px solid rgb(209, 209, 209);
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 0.25em;
    flex-basis: 100%;
  }
  .services {
    flex-direction: column;
    max-width: 2000px;
    padding: 0 5em 0;
    margin-left: auto;
    margin-right: auto;
  }

  .service {
    margin: 1;
    flex-basis: 100%;
  }

  .service_title {
    justify-content: center;
  }

  .service + .service {
    margin-left: 1em;
  }

  .service:last-of-type {
    margin-bottom: 1em;
  }
  .btn-group {
    margin-top: 1em;
    flex-direction: row;
  }
  .btn-single {
    margin-top: 1em;
    flex-direction: row;
  }

  .btn {
    padding: 0.75em 2.5em;
    color: white;
    text-decoration: none;
    flex-direction: row;
    display: block;
    margin: 0.5em 1em;
    border-radius: 1rem;
    justify-content: center;
  }

  .btn-primary {
    background: var(--clr-primary);
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background: var(--clr-primary-dark);
  }

  .btn-primary-dark {
    background: var(--clr-primary-dark);
  }

  .btn-primary-dark,
  .btn-primary-dark {
    background: var(--clr-primary-dark);
  }
}
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/*                reset              */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
@media (min-width: 1200px) {
  section {
    padding: 6em 1em;
    background-color: rgb(255, 255, 255);
  }

  .primary-navigation {
    background-color: rgb(155, 154, 154);
    background-image: url(/img/logo.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
  }
  .primary-navigation a {
    text-decoration: none;
    font-size: medium;
  }
  .hero {
    background-color: rgb(155, 154, 154);
    background-image: url(/img/logo.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin-top: 0em;
    padding: 15vh 1em;
  }
  .about-us_intro {
    background-color: rgb(56, 55, 55);
    background-image: url(/img/logo.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    padding: 3rem 1em 1em;
  }
  .about-us {
    flex-direction: row;
  }
  .about-us_body {
    padding: 1em 1em 3em;
    background-color: rgb(56, 55, 55);
    background-image: url(/img/logo.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    padding: 3rem 1em 1em;
  }
  .what_do {
    background-color: rgb(212, 212, 212);
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 0em;
    padding: 15vh 0 2;
  }

  .text {
    color: var(--clr-text);
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .sponsor {
    background-color: rgb(56, 55, 55);
    background-image: url(/img/digital-white-background.png);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 0em;
    padding: 15vh 0 2;
  }

  .about-us_intro,
  .about-us_body {
    flex: 0 1 50%;
    display: flex;
    flex-direction: row;
    padding: 4em 2em;
    justify-content: center;
  }
  .about-us_intro {
    text-align: right;
  }

  .about-us_intro > * {
    max-width: 27rem;
    margin-left: auto;
  }

  .about-us_body {
    text-align: left;
  }

  .about-us_body > * {
    max-width: 27rem;
    margin-right: auto;
  }
  .Contact-online > * {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  /* Style the buttons */
  .btn-news {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }

  .btn-news:hover {
    background-color: #ddd;
  }
  .services-showcase {
    background-color: rgb(255, 255, 255);
    background-image: url(/img/Caring.webp);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    padding: 6em 1em;
  }
  .service {
    background-color: rgb(141, 140, 140);
    background-image: url(/img/Caring.webp);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 1em;
    border: 1px solid rgb(209, 209, 209);
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 0.25em;
    flex-basis: 100%;
  }
  .services {
    flex-direction: column;
    max-width: 2000px;
    padding: 0 5em 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .service {
    margin: 1rem;
    flex-basis: 100%;
  }

  .service_title {
    justify-content: center;
  }

  .service + .service {
    margin-left: 1em;
  }

  .service:last-of-type {
    margin-bottom: 0;
  }
  .btn-group {
    margin-top: 1em;
    flex-direction: row;
  }
  .btn-single {
    margin-top: 1em;
    padding-left: 50em;
    padding-right: 50em;
    flex-direction: row;
  }

  .btn {
    padding: 0.75em 2.5em;
    color: white;
    text-decoration: none;
    flex-direction: row;
    display: block;
    margin: 0.5em 1em;
    border-radius: 1rem;
    justify-content: center;
  }

  .btn-primary {
    background: var(--clr-primary);
  }
  .btn-single {
    margin-top: 1em;
    padding-left: 50em;
    padding-right: 50em;
    flex-direction: row;
  }
  .btn-primary:hover,
  .btn-primary:focus {
    background: var(--clr-primary-dark);
  }

  .btn-primary-dark {
    background: var(--clr-primary-dark);
  }

  .btn-primary-dark,
  .btn-primary-dark {
    background: var(--clr-primary-dark);
  }
}
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/*                reset              */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
/* ++++++++++++++++ +++++++++++++++++ */
@media (min-width: 1400px) {
}

/* Logo Nav Home Page */

@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 33%;

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
  grid-auto-columns: 80%;
}

.media-group {
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: colurmn;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
  .media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
}
